<div class="footerTop">
  <div class="footerPlane"></div>
  <h2>Newsletter Sign Up</h2>
  <p>
    Sign up to receive telegrams from the Captain...<br>
    Huzzah!
  </p>

  {% form 'customer' %}
    {% if form.posted_successfully? %}
      <p class="thanks">Thank you for your interest!</p>
      <script>
        window.scroll(0, 1000000);
      </script>
    {% else %}
      {% if form.errors %}
        <script>
          window.scroll(0, 1000000);
        </script>
        {% for field in form.errors %}
          <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
        {% endfor %}
      {% else %}

      {% endif %}
      <div class="registerform">
        <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
        <div class="">
          <label class="" for="mailinglist_email">Email address</label>
          <input
            type="email"
            class="required garamondSmall email"
            data-fieldname="Email"
            value=""
            id="mailinglist_email"
            name="contact[email]"
            placeholder="Enter your email address here dear chum"
          >
          <div class="buttonWrapper">
            <div class="spacer"></div>
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 335.8 34.8" class="buttonBorder">
              <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
              <path d="M0,14.1h9.5c-.1-1,.4-2.3-.4-3h-4.4v-6.5h6.5v4.3c.7.7,2,.2,3,.4V0h307.3v9.4c1-.1,2.3.4,3-.4v-4.3h6.5v6.5h-4.4c-.7.7-.2,2-.4,3h9.5v6.5h-9.5v3h4.7v6.5h-6.5v-4.7h-3s-.2,9.4-.2,9.4H14.5l-.2-9.4h-3v4.7h-6.5v-6.5h4.7v-3s-9.5,0-9.5,0v-6.5ZM319.5,1.7H16.2v9.4h-4.6l-.4.4v4.6H1.7c.1.9-.3,2.1.4,2.7h9.1v4.3l.4.4h4.2l.4.4v9.1h303.3v-9.1l.4-.4h4.2l.4-.4v-4.3h9.1c.7-.7.3-1.8.4-2.7h-9.5v-4.6l-.4-.4h-4.6V1.7ZM9.5,9.4l-.2-2.9h-2.7c0,.1.1,2.8.1,2.8h2.8ZM326.3,9.4h2.8c0-.1.1-2.7.1-2.7h-2.7c0-.1-.2,2.7-.2,2.7ZM9.5,25.3h-3s.1,2.7.1,2.7c.3.5,2.2.1,2.9.2v-3ZM329.3,25.3h-3v3c.6-.1,2.6.2,2.9-.2v-2.7Z"/>
            </svg>
            <input class="button submit norwesterLarge" type="submit" value="SIGN ME UP, UP AND AWAY...">
          </div>
        </div>
      </div>
    {% endif %}
  {% endform %}
  <p>
    * Please read our riveting Privacy Policy. Spoiler alert... your personal information is safe & sound and will not
    be shared.
  </p>
</div>
<div class="necc"></div>
<div class="footerMiddle">
  <div class="footerMuseum"></div>
  <div class="buttonWrapper">
    <div class="spacer"></div>
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 335.8 34.8" class="buttonBorder">
      <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
      <path d="M0,14.1h9.5c-.1-1,.4-2.3-.4-3h-4.4v-6.5h6.5v4.3c.7.7,2,.2,3,.4V0h307.3v9.4c1-.1,2.3.4,3-.4v-4.3h6.5v6.5h-4.4c-.7.7-.2,2-.4,3h9.5v6.5h-9.5v3h4.7v6.5h-6.5v-4.7h-3s-.2,9.4-.2,9.4H14.5l-.2-9.4h-3v4.7h-6.5v-6.5h4.7v-3s-9.5,0-9.5,0v-6.5ZM319.5,1.7H16.2v9.4h-4.6l-.4.4v4.6H1.7c.1.9-.3,2.1.4,2.7h9.1v4.3l.4.4h4.2l.4.4v9.1h303.3v-9.1l.4-.4h4.2l.4-.4v-4.3h9.1c.7-.7.3-1.8.4-2.7h-9.5v-4.6l-.4-.4h-4.6V1.7ZM9.5,9.4l-.2-2.9h-2.7c0,.1.1,2.8.1,2.8h2.8ZM326.3,9.4h2.8c0-.1.1-2.7.1-2.7h-2.7c0-.1-.2,2.7-.2,2.7ZM9.5,25.3h-3s.1,2.7.1,2.7c.3.5,2.2.1,2.9.2v-3ZM329.3,25.3h-3v3c.6-.1,2.6.2,2.9-.2v-2.7Z"/>
    </svg>
    <a class="button norwesterLarge">ENTER THE MUSEUM</a>
  </div>
  <hr />
  <div class="footerExplore"></div>
  <div class="buttonWrapper">
    <div class="spacer"></div>
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 335.8 34.8" class="buttonBorder">
      <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
      <path d="M0,14.1h9.5c-.1-1,.4-2.3-.4-3h-4.4v-6.5h6.5v4.3c.7.7,2,.2,3,.4V0h307.3v9.4c1-.1,2.3.4,3-.4v-4.3h6.5v6.5h-4.4c-.7.7-.2,2-.4,3h9.5v6.5h-9.5v3h4.7v6.5h-6.5v-4.7h-3s-.2,9.4-.2,9.4H14.5l-.2-9.4h-3v4.7h-6.5v-6.5h4.7v-3s-9.5,0-9.5,0v-6.5ZM319.5,1.7H16.2v9.4h-4.6l-.4.4v4.6H1.7c.1.9-.3,2.1.4,2.7h9.1v4.3l.4.4h4.2l.4.4v9.1h303.3v-9.1l.4-.4h4.2l.4-.4v-4.3h9.1c.7-.7.3-1.8.4-2.7h-9.5v-4.6l-.4-.4h-4.6V1.7ZM9.5,9.4l-.2-2.9h-2.7c0,.1.1,2.8.1,2.8h2.8ZM326.3,9.4h2.8c0-.1.1-2.7.1-2.7h-2.7c0-.1-.2,2.7-.2,2.7ZM9.5,25.3h-3s.1,2.7.1,2.7c.3.5,2.2.1,2.9.2v-3ZM329.3,25.3h-3v3c.6-.1,2.6.2,2.9-.2v-2.7Z"/>
    </svg>
    <a class="button norwesterLarge">ENTER FOR INGENIOUS INVENTION</a>
  </div>
</div>
<div class="footerBottom">
  <div class="socials">
    <a href="#" class="instagram"></a>
    <a href="#" class="facebook"></a>
    <a href="#" class="youtube"></a>
    <a href="#" class="tiktok"></a>
    <a href="#" class="linkedin"></a>
  </div>
  <div class="cfl"></div>
  <div class="footerLinks">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">WHOLESALE</a>
    <p>Copyright © 2024 Captain Fawcett Limited</p>
  </div>
</div>