<div class="footerTop">
    <div class="flipbook-slick">
    <div><img src="https://cdn.shopify.com/s/files/1/0907/4104/7674/files/plane_and_moving_propelar_copy.jpg?v=1759564675" alt=""></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0907/4104/7674/files/plane_and_moving_propelar_2_copy.jpg?v=1759564675" alt=""></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0907/4104/7674/files/plane_and_moving_propelar_3_copy.jpg?v=1759564675" alt=""></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0907/4104/7674/files/plane_and_moving_propelar_4_copy.jpg?v=1759564675" alt=""></div>
  </div>
  <div>
<h2>Newsletter Sign Up</h2>
  <p>
    Sign up to receive telegrams from the Captain... Huzzah!
  </p>

  {% form 'customer' %}
    {% if form.posted_successfully? %}
      <p class="thanks">Thank you for your interest!</p>
      <script>
        window.scroll(0, 1000000);
      </script>
    {% else %}
      {% if form.errors %}
        <script>
          window.scroll(0, 1000000);
        </script>
        {% for field in form.errors %}
          <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
        {% endfor %}
      {% else %}

      {% endif %}
      <div class="registerform">
        <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
        <div class="">
          <label class="" for="mailinglist_email">Email address</label>
          <input
            type="email"
            class="required garamondSmall email"
            data-fieldname="Email"
            value=""
            id="mailinglist_email"
            name="contact[email]"
            placeholder="Enter your email address here dear chum"
          >
          <div class="buttonWrapper">
            <input class="button submit norwesterLarge" type="submit" value="SIGN ME UP, UP AND AWAY...">
          </div>
        </div>
      </div>
    {% endif %}
  {% endform %}
  <p>
    * Please read our riveting Privacy Policy. Spoiler alert... your personal information is safe & sound and will not
    be shared.
  </p>
  </div>
  
</div>
<div class="necc"></div>
<div class="footerMiddle">
  <div class="footerMuseum"></div>
  <div class="buttonWrapper">
    <a class="button norwesterLarge">ENTER THE BARBERSHOP MUSEUM</a>
  </div>
</div>
<div class="footerMiddle">
  <div class="footerExplore"></div>
  <div class="buttonWrapper">
    <a class="button norwesterLarge">ACCESS THE WORLD OF FAWCETT</a>
  </div>
</div>
<div class="footerBottom">
  <div class="socials">
    <a href="#" class="instagram"></a>
    <a href="#" class="facebook"></a>
    <a href="#" class="youtube"></a>
    <a href="#" class="tiktok"></a>
    <a href="#" class="linkedin"></a>
  </div>
  <div class="cfl"></div>
  <div class="footerLinks">
    <a href="#">Policies</a>
    <a href="#">Wholesale</a>
    <a href="#">Contact</a>
    <p>Copyright © 2025 Captain Fawcett Limited</p>
  </div>
</div>

<script>
(function($){
  var $fb = $('.flipbook-slick');
  var timer = null;

  $fb.slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    dots: false,
    infinite: true,
    autoplay: false,        // manual control
    speed: 0,               // instant flip
    cssEase: 'linear',
    swipe: false, draggable: false, touchMove: false,
    accessibility: false, adaptiveHeight: false, waitForAnimate: false
  });

  function startFlip(el){
    if (timer) return;
    timer = setInterval(function(){
      $(el).slick('slickNext');
    }, 100); // 0.1s per frame
  }
  function stopFlip(){ clearInterval(timer); timer = null; }

  // Hover triggers
  $fb.on('mouseenter touchstart', function(){ startFlip(this); });
  $fb.on('mouseleave touchend touchcancel', function(){ stopFlip(); });

  // Footer email focus triggers
  var $email = $('.shopify-section-group-footer-group [type="email"]');
  $email.on('focus', function(){ startFlip($fb); });
  $email.on('blur', function(){ stopFlip(); });

})(jQuery);

</script>